* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#container {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#switch {
    /* write code here! */
}

#circle {
    /* write code here! */
}

#circle span {
    /* write code here! */
}

#moon {
    /* write code here! */
}

#sun {
    /* write code here! */
}

#moon.on {
    /* write code here! */
}

#sun.on {
    /* write code here! */
}

#moon.off {
    /* write code here! */
}

#sun.off {
    /* write code here! */
}

#container.on {
    /* write code here! */
}

#container.off {
    /* write code here! */
}

#container.on #switch {
    /* write code here! */
}

#container.off #switch {
    /* write code here! */
}

#container.on #switch #circle{
    /* write code here! */
}

#container.off #switch #circle{
    /* write code here! */
}

#container.on #label {
    /* write code here! */
}

#container.off #label {
    /* write code here! */
}